<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            Live Score
                        </h3>
                    </div>
                </div>
                <div class="row">
                    {% for element in data %}
                    <div class="col-md-12">
                        <div class="card bg-default">
                            <h5 class="card-header">
                                    <img src="{{element.home_logo}}" class="img-fluid" alt="Responsive image"> {{element.home_team}} vs {{element.away_team}} <img src="{{element.away_logo}}" class="img-fluid" alt="Responsive image">
                            </h5>
                            <div class="card-body">
                                <p class="card-text">
                                    {{element.home_score}} : {{element.away_score}}
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SIqoTsp1wbw?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </p>
                            </div>
                            <div class="card-footer">
                                Card footer
                            </div>
                        </div>
                    </div>
                    {% endfor%}
                </div>
            </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>